<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />

    <style>
      body {
        background-color: darkslategray;
        /* background-image: url("https://images.unsplash.com/photo-1476820865390-c52aeebb9891?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
        background-size: 100%; */
      }
    </style>
  </head>
  <body>
    <!-- CARD -->
    <!-- <div class="container">
      <% for(var i=0; i < blogs.length; i++) { %>
      <div class="card border-danger rounded-40">
        <h5 class="card-header"><%= blogs[i].title %></h5>
        <div class="card-body">
          <h5 class="card-title"><%= blogs[i].snippet %></h5>
          <p class="card-text"><%= blogs[i].body %></p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-light">Edit</button>
            <button type="button" class="btn btn-danger">Delete</button>
          </div>
        </div>
      </div>
      <br />
      <% } %>
    </div> -->

    <!-- ACCORDIAN -->
    <div class="container">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button
          type="button"
          class="btn btn-warning"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          data-bs-whatever="@kaustubh"
        >
          Create Blog
        </button>
      </div>
      <br />
      <div id="accordion">
        <% for(var i=0; i < blogs.length; i++) { %>
        <div class="card">
          <div class="card-header" id="headingOne<%= i %>">
            <h5 class="mb-0">
              <button
                class="btn btn-outline-success btn-lg btn-block"
                data-toggle="collapse"
                type="button"
                data-target="#collapseOne<%= i %>"
                aria-expanded="true"
                aria-controls="collapseOne<%= i %>"
              >
                <%= blogs[i].title %>
              </button>
            </h5>
          </div>

          <div
            id="collapseOne<%= i %>"
            class="collapse show"
            aria-labelledby="headingOne<%= i %>"
            data-parent="#accordion"
          >
            <div class="card-body">
              <h5 class="card-title"><%= blogs[i].snippet %></h5>
              <p class="card-text"><%= blogs[i].body %></p>
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal"
                    data-bs-whatever="@kaustubh"
                  >
                    Edit
                  </button>
                </div>
                <form method="POST" action="/blogs/<%= blogs[i]._id %>?_method=DELETE">
                  <button type="submit" class="btn btn-danger">Delete</button>
              </form>
              </div>
            </div>
          </div>
        </div>
        <br />
        <% } %>
      </div>
    </div>

    <!-- MODAL LAYOUT -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">New blog</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form action="/blogs" method="POST">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Title</label>
                <input name="title" type="text" class="form-control" />
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label"
                  >Snippet</label
                >
                <input
                  type="text"
                  class="form-control"
                  name="snippet"
                  id="exampleInputPassword1"
                />
              </div>
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label"
                  >Body</label
                >
                <textarea
                  name="body"
                  class="form-control"
                  id="exampleFormControlTextarea1"
                  rows="3"
                ></textarea>
              </div>

              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- PATCH -->
    <div
      class="modal fade"
      id="patchModal"
      tabindex="-1"
      aria-labelledby="patchModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="patchModalLabel">New blog</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form action="/blogs" method="POST">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Title</label>
                <input name="title" type="text" class="form-control" />
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label"
                  >Snippet</label
                >
                <input
                  type="text"
                  class="form-control"
                  name="snippet"
                  id="exampleInputPassword1"
                />
              </div>
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label"
                  >Body</label
                >
                <textarea
                  name="body"
                  class="form-control"
                  id="exampleFormControlTextarea1"
                  rows="3"
                ></textarea>
              </div>

              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
