<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />

    <style>
      body {
        background-image: url("https://images.unsplash.com/photo-1476820865390-c52aeebb9891?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
        background-size: 100%;
      }
    </style>
  </head>
  <body>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- CARD -->
    <!-- <div class="container">
      <% for(var i=0; i < blogs.length; i++) { %>
      <div class="card border-danger rounded-40">
        <h5 class="card-header"><%= blogs[i].title %></h5>
        <div class="card-body">
          <h5 class="card-title"><%= blogs[i].snippet %></h5>
          <p class="card-text"><%= blogs[i].body %></p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-light">Edit</button>
            <button type="button" class="btn btn-danger">Delete</button>
          </div>
        </div>
      </div>
      <br />
      <% } %>
    </div> -->

    <!-- ACCORDIAN -->
    <div class="container">
      <div id="accordion">
        <% for(var i=0; i < blogs.length; i++) { %>
        <div class="card">
          <div class="card-header" id="headingOne<%= i %>">
            <h5 class="mb-0">
              <button
                class="btn btn-outline-success btn-lg btn-block"
                data-toggle="collapse"
                type="button"
                data-target="#collapseOne<%= i %>"
                aria-expanded="true"
                aria-controls="collapseOne<%= i %>"
              >
                <%= blogs[i].title %>
              </button>
            </h5>
          </div>

          <div
            id="collapseOne<%= i %>"
            class="collapse show"
            aria-labelledby="headingOne<%= i %>"
            data-parent="#accordion"
          >
            <div class="card-body">
              <h5 class="card-title"><%= blogs[i].snippet %></h5>
              <p class="card-text"><%= blogs[i].body %></p>
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="button" class="btn btn-secondary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </div>
            </div>
          </div>
        </div>
        <br />
        <% } %>
      </div>
    </div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
